<h1>Here are all the stores with some great deals!</h1>
<% @coupons.each do |coupon| %>
    <h1><%= link_to coupon.store + " has a great coupon, code # " + coupon.coupon_code, coupon_path(coupon) %></h1>
<%end%>
